<?xml version="1.0" encoding="UTF-8"?>
<Context>
	<JarScanner scanClassPath="false" scanAllFiles="false" scanAllDirectories="false"/>
	<Resource name="jdbc/${database.instance.name:-openforms2bpel}" auth="Container"
    factory="org.apache.naming.factory.BeanFactory"
    type="org.postgresql.xa.PGXADataSource"
              url="jdbc:postgresql://${DB_HOSTNAME:-openforms2bpel-postgres}:${DB_PORT:-5432}/${POSTGRES_DB:-openforms2bpel}"
              user="${POSTGRES_USER:-openforms2bpel}"
              password="${POSTGRES_PASSWORD:-openforms2bpel}" />
</Context>