name: Release

on:
  push:
    branches:
      - main
      - master

jobs:
  analyze-commits:
    runs-on: ubuntu-latest
    outputs:
      version-next: ${{ steps.next-version.outputs.release-version }}
      version-next-tag: ${{ steps.next-version.outputs.release-tag }}
      version-next-type: ${{ steps.next-version.outputs.release-type }}
    steps:
      - uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          disable-sudo: true
          egress-policy: audit
          allowed-endpoints: >
            github.com:443

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #5.0.0
      
      - name: "Setup Node"
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 #6.0.0
        with:
          node-version: 24
      
      - name: Install dependencies
        run: yarn global add semantic-release @semantic-release/changelog @semantic-release/git @semantic-release/github @semantic-release/exec @semantic-release/release-notes-generator @semantic-release/commit-analyzer conventional-changelog-conventionalcommits
      
      - name: Get next version
        id: next-version
        run: semantic-release --dryRun
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

  ci:
    uses: wearefrank/ci-cd-templates/.github/workflows/ci-generic.yml@main
    needs: analyze-commits
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
    if: ${{ needs.analyze-commits.outputs.version-next-type != '' }}
    with:
      version: ${{ needs.analyze-commits.outputs.version-next }}
      docker-image-repo: ${{ vars.DOCKER_IMAGE_REPOSITORY }}
      docker-image-name: ${{ vars.DOCKER_IMAGE_NAME }}
      upload-sarif-to-security: false

  release:
    runs-on: ubuntu-latest
    needs: 
      - analyze-commits
      - ci
    steps:
      - uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #5.0.0
        with:
          token: ${{ secrets.GH_TOKEN }}

      - name: "Download Pre-build Artifacts"
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 #6.0.0
        with:
          pattern: pre-build-*
          merge-multiple: true
  
      - name: "Download Build Artifacts"
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 #6.0.0
        with:
          pattern: build-*
          merge-multiple: true

      - name: "Setup Node"
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 #6.0.0
        with:
          node-version: 24
      
      - name: Install dependencies
        run: yarn global add semantic-release @semantic-release/changelog @semantic-release/git @semantic-release/github @semantic-release/exec @semantic-release/release-notes-generator @semantic-release/commit-analyzer conventional-changelog-conventionalcommits
      
      - name: Semantic Release
        run: semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

  docker-release:
    uses: wearefrank/ci-cd-templates/.github/workflows/docker-release-generic.yml@main
    needs: 
    - analyze-commits
    - ci
    - release
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
      dockerhub-username: ${{ secrets.DOCKERHUB_USERNAME }}
      dockerhub-token: ${{ secrets.DOCKERHUB_TOKEN }}
    with:
      version: ${{ needs.analyze-commits.outputs.version-next }}
      docker-image-repo: ${{ vars.DOCKER_IMAGE_REPOSITORY }}
      docker-image-name: ${{ vars.DOCKER_IMAGE_NAME }}

  docusaurus-deploy:
    needs:
      - release
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 18.x
          cache: npm
          cache-dependency-path: docusaurus/package-lock.json

      - name: Install dependencies
        run: cd ./docusaurus && npm install --frozen-lockfile --non-interactive

      - name: Build
        run: cd ./docusaurus && npm run build

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./docusaurus/build

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
